body{
	background-color:#9B9481
}
h1{
	color:#3B4248;
	font-family:"Arial","sans-serif";
	font-size:5em;
	font-style: italic;
}
h2{
	color:#1C2124
	font-size:1.5em;
	font-family:"JetBrains Mono","monospace","sans-serif";
}
h3{
	color:#1C2124;
	font-size:1.25em;
	font-family:"JetBrains Mono","monospace","sans-serif";
}
p{
	color:#1C2124;
	font-size:1em;
	font-family:"JetBrains Mono","monospace","sans-serif";
}
li{

	font-family:"JetBrains Mono","monospace","sans-serif";
	float:left;
}
li a {
 	display: block;
	color: #1C2124;
	text-align: center;
	padding: 1em 1em;
	text-decoration:none;
}
li a:hover:not(.active) {
background-color: #3B4248;
}
.active {
background-color: #3B4248;
color: #1C2124;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #1C2124;
}
